<!DOCTYPE html>
<html>
  <head>
    <title>Who Are You</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>IP Address : <%= IP %></h2>
    <h2>Software : <%= OS %></h2>
    <h2>Language : <%= LAN %></h2>
  </body>
</html>
